<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 816z2l1p1v9gwv
    authorize: true
    onLoad: onLinkedInLoad
    scope: r_basicprofile r_emailaddress rw_company_admin
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }

    // Use the API call wrapper to request the member's profile data
    function getProfileData() {
      var cpnyID = 13601418;
      IN.API.Raw("/companies/" + cpnyID + ":(id,name,ticker,description,company-type,founded-year,locations:(address),website-url,square-logo-url,specialties)?format=json").method("GET").result(displayProfileData).error(onError);
    }

    // Handle the successful return from the API call
    function displayProfileData(data){
      $.ajax({
      method: "POST",
      url: '{% url "profile:createModel" %}',
      data: {
        name: data.name,
        specialty: data.specialties.values[0],
        year:data.foundedYear,
        description:data.description,
        website:data.websiteUrl,
        type:data.companyType.name,


      },
      dataType: 'json',
      success: function(company) {
        window.data = data;
        console.log(data);

          $("#name").html("Selamat datang, " +company.company_name);
          $("#CompanyName").html(company.company_name);
          $("#website").html(company.website);
          $("#description").html(company.description);
          $("#founded").html("Founded: " +company.yearFounded);
          $("#specialty").html("Specialty: " +company.specialty)
          $("#type").html(company.type);
          $("#address").html(data.locations.values[0].address.city
          + " " +data.locations.values[0].address.postalCode+ " "+ data.locations.values[0].address.street1);
          $("#picture").html('<img src="'+data.squareLogoUrl+'" />')

          document.getElementById('profileData').style.display = 'block';

      },
      error: function(error) {
        alert("yah error")
      }
      });




    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }

    // Destroy the session of linkedin
    function logout(){
        IN.User.logout(removeProfileData);
    }

    // Remove profile data from page
    function removeProfileData(){
        document.getElementById('profileData').remove();
    }
</script>
</head>

<body>
  <!-- sign in with linkedin button -->
<script type="in/Login"></script>

<!-- display profile info -->
<div id="profileData" style="display: none;">
    <p id="name"></p>
    <div id="picture"></div>
    <div class="info">
      <p id="CompanyName"></p>
      <p id="website"></p>
      <p id="specialty"></p>
      <p id="type"></p>
      <p id="founded"></p>
      <p id= "address"> </p>
      <p id="description"></p>
    </div>
    <p><a href="javascript:void(0);" onclick="logout()">Logout</a></p>
</div>
</body>


</html>
