<!DOCTYPE html>
<html lang="en">

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    {% block title %}
    <title>Write something</title>
    {% endblock %}
</head>
<body>
{% block content %}
<div class="container">
<form method="post" action="{% url 'forum:postContent' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-info ">Write something</button>
</form>
    <br>
</div>
<div class="container">
<p>Recent Update</p>

<hr>
    {% if  posts  %}
    {% for postingan in posts %}
        <div id="post-comment">

        <h3><img src="https://static.pexels.com/photos/323705/pexels-photo-323705.jpeg"
                 class="profil" width="40" height="40" style="border-radius: 50%;">
            <strong>{{postingan.name}}</strong></h3>

        <p>{{postingan.body}}</p>

        <p>         {{postingan.waktu}}</p>
        <br>
             {% if comments %}

               {% for komentars in comments %}

           {% if postingan.body == komentars.forum.body %}
               <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://static.pexels.com/photos/323705/pexels-photo-323705.jpeg"
                 class="profil" width="40" height="40" style="border-radius: 50%;">
               {{ postingan.name }}
            </h3>
                 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{komentars.body}}</p>

        <p>         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{komentars.waktu}}</p>
        <br>
               {% endif %}

               {% endfor %}

           {% endif %}

       <form method="post" action="{% url 'forum:buildComment' postingan.id %} ">
    {% csrf_token %}
    {{ commentsForm.as_p }}
    <button type="submit" class="btn btn-info ">Comment</button>


</form>
        <br>

        </div>
        {% endfor %}


    {% endif %}
</div>
{% endblock %}

<script type="application/javascript">
   var func=function () {
        $('#post-comment').innerHTML= " <p> Comment </p> ";
    }
</script>
</body>
</html>